.button{
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: #835afd;
    color: #fff;
    padding:0 32px;

    display:flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    cursor: pointer;
    border: 0;

    img{
        margin-right: 8px;
    }

    &.outlined{
        background: #fff;
        border: 1px solid #835afd;
        color: #835afd;
    }

    &.outlined:hover{
        -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
        filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    }

    &:not(disabled)hover{
        -webkit-transform: scale(1.5);
        transform: scale(1.05);
        filter: brightness(0.9);
    }
    
    &:disabled{
        opacity: 0.6;
        cursor: not-allowed;
    }
}