*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(248, 240, 240);
    color:rgb(110, 108, 108);
}

body, input, button, textarea{
    font: 400 16px 'Roboto', sans-serif;
    
}