.Roomcode{
    height: 40px;
    border-radius: 8px;
    overflow: hidden;

    background: #fff;
    border: 1px solid #000000;
    cursor: pointer;

    display: flex;

    div{
        background: #000000;
        padding: 0 12px;
        display: flex;
        justify-content: center;
        align-items: center;    
        height: 100%;    
    }

    span{
        display: block;
        align-self: center;
        flex: 1;
        padding: 0 16px 0 12px;
        width: 240px;
        font-size:14px;
        font-weight: 500;
    }
}